# Cache folder
/__pycache__/*

# Python virtual environment folder
/env/*

# Data folders
/movielens20M/*
/movielens-sample/*
/movielens10k/*
/movielens100k/*
/netflixprize/*

# Testing folder
/svd_knn/*